main .e_card {
  display: block;
  width: 60%;
  height: 200px;
  background-color: #dfd;
  margin: 100px auto;
  padding: 10px;
}

main .e_card:hover{
  background-color: #dfd;
}

main .e_card p{
  font-size: 300%;
  line-height: 100%;
  text-align: center;
}
